<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ACSManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>



	<!--/////////////////////////////////////////////////////////////////////////////////-->

  <!--로컬-->
  <connectionStrings>
    <add name="ACSManager.Properties.Settings.acsMSSqlConnectionString" connectionString="Data Source=127.0.0.1;Initial Catalog=acsHM12;User ID=agvcuser;Password=1234agvc" providerName="System.Data.SqlClient" />
  </connectionStrings>


	<!--/////////////////////////////////////////////////////////////////////////////////-->

    <system.data>
    </system.data>
  
    <userSettings>
        <ACSManager.Properties.Settings>
            <setting name="Floor" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="SavedID" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LoginID" serializeAs="String">
                <value>admin</value>
            </setting>
            <setting name="Port_Count" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="Station_Name" serializeAs="String">
                <value>Station</value>
            </setting>
            <setting name="Station_Count" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="LogSaveDay" serializeAs="String">
                <value>365</value>
            </setting>
        </ACSManager.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" /></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
