<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ACSManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>



	<!--/////////////////////////////////////////////////////////////////////////////////-->

  <!--로컬-->
  <connectionStrings>
    <add name="ACSManager.Properties.Settings.acsMSSqlConnectionString"
      connectionString="Data Source=127.0.0.1;Initial Catalog=Hanwha_Aero;User ID=agvcuser;Password=1234agvc"
      providerName="System.Data.SqlClient" />
    <add name="ACSManager.Properties.Settings.sunildyfas_dbConnectionString"
      connectionString="User Id=sunil;Password=Sunilmes2021;Host=127.0.0.1;Database=sunildyfas_db"
      providerName="Devart.Data.MySql" />
  </connectionStrings>


	<!--/////////////////////////////////////////////////////////////////////////////////-->

    <system.data>
    </system.data>
  
    <userSettings>
        <ACSManager.Properties.Settings>
            <setting name="Floor" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="SavedID" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LoginID" serializeAs="String">
                <value>admin</value>
            </setting>
            <setting name="Port_Count" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="Station_Name" serializeAs="String">
                <value>Station</value>
            </setting>
            <setting name="Station_Count" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="LogSaveDay" serializeAs="String">
                <value>365</value>
            </setting>
        </ACSManager.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
